In [1]:
import pandas as pd
import sqlite3 as lite

In [2]:
db = lite.connect('./products.db')

In [5]:
query = "SELECT * FROM Customers;"

#make cursor
cur = db.cursor()
#send query to cursor
cur.execute(query)
#fetch results
cur.fetchall()[0]

('1',
 'Alfreds Futterkiste',
 'Maria Anders',
 'Obere Str. 57',
 'Berlin',
 '12209',
 'Germany')

In [8]:
df = pd.read_sql(query, db)
df

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden
5,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
6,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France
7,8,Bólido Comidas preparadas,Martín Sommer,C/ Araquil 67,Madrid,28023,Spain
8,9,Bon app',Laurence Lebihans,12 rue des Bouchers,Marseille,13008,France
9,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada
10,11,B's Beverages,Victoria Ashworth,Fauntleroy Circus,London,EC2 5NT,UK
11,12,Cactus Comidas para llevar,Patricio Simpson,Cerrito 333,Buenos Aires,1010,Argentina
12,13,Centro comercial Moctezuma,Francisco Chang,Sierras de Granada 9993,México D.F.,05022,Mexico
13,14,Chop-suey Chinese,Yang Wang,Hauptstr. 29,Bern,3012,Switzerland
14,15,Comércio Mineiro,Pedro Afonso,Av. dos Lusíadas 23,São Paulo,05432-043,Brazil
15,16,Consolidated Holdings,Elizabeth Brown,Berkeley Gardens 12 Brewery,London,WX1 6LT,UK
16,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany
17,18,Du monde entier,Janine Labrune,67 rue des Cinquante Otages,Nantes,44000,France
18,19,Eastern Connection,Ann Devon,35 King George,London,WX3 6FW,UK
19,20,Ernst Handel,Roland Mendel,Kirchgasse 6,Graz,8010,Austria
20,21,Familia Arquibaldo,Aria Cruz,Rua Orós 92,São Paulo,05442-030,Brazil
21,22,FISSA Fabrica Inter. Salchichas S.A.,Diego Roel,C/ Moralzarzal 86,Madrid,28034,Spain
22,23,Folies gourmandes,Martine Rancé,184 chaussée de Tournai,Lille,59000,France
23,24,Folk och fä HB,Maria Larsson,Åkergatan 24,Bräcke,S-844 67,Sweden
24,25,Frankenversand,Peter Franken,Berliner Platz 43,München,80805,Germany
25,26,France restauration,Carine Schmitt,54 rue Royale,Nantes,44000,France
26,27,Franchi S.p.A.,Paolo Accorti,Via Monte Bianco 34,Torino,10100,Italy
27,28,Furia Bacalhau e Frutos do Mar,Lino Rodriguez,Jardim das rosas n. 32,Lisboa,1675,Portugal
28,29,Galería del gastrónomo,Eduardo Saavedra,Rambla de Cataluña 23,Barcelona,08022,Spain
29,30,Godos Cocina Típica,José Pedro Freyre,C/ Romero 33,Sevilla,41101,Spain
...,...,...,...,...,...,...,...
61,62,Queen Cozinha,Lúcia Carvalho,Alameda dos Canàrios 891,São Paulo,05487-020,Brazil
62,63,QUICK-Stop,Horst Kloss,Taucherstraße 10,Cunewalde,01307,Germany
63,64,Rancho grande,Sergio Gutiérrez,Av. del Libertador 900,Buenos Aires,1010,Argentina
64,65,Rattlesnake Canyon Grocery,Paula Wilson,2817 Milton Dr.,Albuquerque,87110,USA
65,66,Reggiani Caseifici,Maurizio Moroni,Strada Provinciale 124,Reggio Emilia,42100,Italy
66,67,Ricardo Adocicados,Janete Limeira,Av. Copacabana 267,Rio de Janeiro,02389-890,Brazil
67,68,Richter Supermarkt,Michael Holz,Grenzacherweg 237,Genève,1203,Switzerland
68,69,Romero y tomillo,Alejandra Camino,Gran Vía 1,Madrid,28001,Spain
69,70,Santé Gourmet,Jonas Bergulfsen,Erling Skakkes gate 78,Stavern,4110,Norway
70,71,Save-a-lot Markets,Jose Pavarotti,187 Suffolk Ln.,Boise,83720,USA
71,72,Seven Seas Imports,Hari Kumar,90 Wadhurst Rd.,London,OX15 4NB,UK
72,73,Simons bistro,Jytte Petersen,Vinbæltet 34,København,1734,Denmark
73,74,Spécialités du monde,Dominique Perrier,25 rue Lauriston,Paris,75016,France
74,75,Split Rail Beer & Ale,Art Braunschweiger,P.O. Box 555,Lander,82520,USA
75,76,Suprêmes délices,Pascale Cartrain,Boulevard Tirou 255,Charleroi,B-6000,Belgium
76,77,The Big Cheese,Liz Nixon,89 Jefferson Way Suite 2,Portland,97201,USA
77,78,The Cracker Box,Liu Wong,55 Grizzly Peak Rd.,Butte,59801,USA
78,79,Toms Spezialitäten,Karin Josephs,Luisenstr. 48,Münster,44087,Germany
79,80,Tortuga Restaurante,Miguel Angel Paolino,Avda. Azteca 123,México D.F.,05033,Mexico
80,81,Tradição Hipermercados,Anabela Domingues,Av. Inês de Castro 414,São Paulo,05634-030,Brazil
81,82,Trail's Head Gourmet Provisioners,Helvetius Nagy,722 DaVinci Blvd.,Kirkland,98034,USA
82,83,Vaffeljernet,Palle Ibsen,Smagsløget 45,Århus,8200,Denmark
83,84,Victuailles en stock,Mary Saveley,2 rue du Commerce,Lyon,69004,France
84,85,Vins et alcools Chevalier,Paul Henriot,59 rue de l'Abbaye,Reims,51100,France
85,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany
86,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Rua do Mercado 12,Resende,08737-363,Brazil
88,89,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,ul. Filtrowa 68,Walla,01-012,Poland

In [9]:
df.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden

In [17]:
query = """
SELECT *
    FROM sqlite_master;
"""

pd.read_sql(query, db)

,type,name,tbl_name,rootpage,sql
0,table,Categories,Categories,2,"CREATE TABLE Categories(\n ""CategoryID"" TEXT,\n ""CategoryName"" TEXT,\n ""Description"" TEXT\n)"
1,table,Customers,Customers,3,"CREATE TABLE Customers(\n ""CustomerID"" TEXT,\n ""CustomerName"" TEXT,\n ""ContactName"" TEXT,\n ""Address"" TEXT,\n ""City"" TEXT,\n ""PostalCode"" TEXT,\n ""Country"" TEXT\n)"
2,table,Employees,Employees,6,"CREATE TABLE Employees(\n ""EmployeeID"" TEXT,\n ""LastName"" TEXT,\n ""FirstName"" TEXT,\n ""BirthDate"" TEXT,\n ""Photo"" TEXT,\n ""Notes"" TEXT\n)"
3,table,Shippers,Shippers,15,"CREATE TABLE Shippers(\n ""ShipperID"" TEXT,\n ""ShipperName"" TEXT,\n ""Phone"" TEXT\n)"
4,table,Suppliers,Suppliers,16,"CREATE TABLE Suppliers(\n ""SupplierID"" TEXT,\n ""SupplierName"" TEXT,\n ""ContactName"" TEXT,\n ""Address"" TEXT,\n ""City"" TEXT,\n ""PostalCode"" TEXT,\n ""Country"" TEXT,\n ""Phone"" TEXT\n)"
5,table,Orders,Orders,11,"CREATE TABLE Orders(\nOrderID integer,\nCustomerID integer,\nEmployeeID integer,\nOrderDate date,\nShipperID integer)"
6,table,OrderDetails,OrderDetails,7,"CREATE TABLE OrderDetails(\nOrderDetailID integer,\nOrderID integer,\nProductID integer,\nQuantity integer)"
7,table,Products,Products,14,"CREATE TABLE Products(\nProductID integer,\nProductName text,\nSupplierID integer,\nCategoryID integer,\nUnit text,\nPrice integer\n)"

In [16]:
pd.options.display.max_colwidth = 300

In [22]:
query = """
SELECT tbl_name
    FROM sqlite_master
;
"""
pd.read_sql(query, db)

       tbl_name
0    Categories
1     Customers
2     Employees
3      Shippers
4     Suppliers
5        Orders
6  OrderDetails
7      Products

In [23]:
query = """
SELECT sql
    FROM sqlite_master
;
"""

pd.read_sql(query, db)

                                                                                                                                                                                           sql
0                                                                                              CREATE TABLE Categories(\n  "CategoryID" TEXT,\n  "CategoryName" TEXT,\n  "Description" TEXT\n)
1                   CREATE TABLE Customers(\n  "CustomerID" TEXT,\n  "CustomerName" TEXT,\n  "ContactName" TEXT,\n  "Address" TEXT,\n  "City" TEXT,\n  "PostalCode" TEXT,\n  "Country" TEXT\n)
2                                              CREATE TABLE Employees(\n  "EmployeeID" TEXT,\n  "LastName" TEXT,\n  "FirstName" TEXT,\n  "BirthDate" TEXT,\n  "Photo" TEXT,\n  "Notes" TEXT\n)
3                                                                                                        CREATE TABLE Shippers(\n  "ShipperID" TEXT,\n  "ShipperName" TEXT,\n  "Phone" TEXT\n)
4  CREATE TABLE Suppliers(\n  "SupplierID" TEXT,\n  "SupplierName" TEXT,\n  "ContactName" TEXT,\n  "Address" TEXT,\n  "City" TEXT,\n  "PostalCode" TEXT,\n  "Country" TEXT,\n  "Phone" TEXT\n)
5                                                                        CREATE TABLE Orders(\nOrderID integer,\nCustomerID integer,\nEmployeeID integer,\nOrderDate date,\nShipperID integer)
6                                                                                  CREATE TABLE OrderDetails(\nOrderDetailID integer,\nOrderID integer,\nProductID integer,\nQuantity integer)
7                                                        CREATE TABLE Products(\nProductID integer,\nProductName text,\nSupplierID integer,\nCategoryID integer,\nUnit text,\nPrice integer\n)

In [25]:
query = """
SELECT *
    FROM Customers
;
"""
df = pd.read_sql(query, db)

In [26]:
fran = df['Country'] == "France"
germ = df['Country'] == "Germany"
df[fran | germ]

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
5,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
6,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France
8,9,Bon app',Laurence Lebihans,12 rue des Bouchers,Marseille,13008,France
16,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany
17,18,Du monde entier,Janine Labrune,67 rue des Cinquante Otages,Nantes,44000,France
22,23,Folies gourmandes,Martine Rancé,184 chaussée de Tournai,Lille,59000,France
24,25,Frankenversand,Peter Franken,Berliner Platz 43,München,80805,Germany
25,26,France restauration,Carine Schmitt,54 rue Royale,Nantes,44000,France
38,39,Königlich Essen,Philip Cramer,Maubelstr. 90,Brandenburg,14776,Germany
39,40,La corne d'abondance,Daniel Tonini,67 avenue de l'Europe,Versailles,78000,France
40,41,La maison d'Asie,Annette Roulet,1 rue Alsace-Lorraine,Toulouse,31000,France
43,44,Lehmanns Marktstand,Renate Messner,Magazinweg 7,Frankfurt a.M.,60528,Germany
51,52,Morgenstern Gesundkost,Alexander Feuer,Heerstr. 22,Leipzig,04179,Germany
55,56,Ottilies Käseladen,Henriette Pfalzheim,Mehrheimerstr. 369,Köln,50739,Germany
56,57,Paris spécialités,Marie Bertrand,265 boulevard Charonne,Paris,75012,France
62,63,QUICK-Stop,Horst Kloss,Taucherstraße 10,Cunewalde,01307,Germany
73,74,Spécialités du monde,Dominique Perrier,25 rue Lauriston,Paris,75016,France
78,79,Toms Spezialitäten,Karin Josephs,Luisenstr. 48,Münster,44087,Germany
83,84,Victuailles en stock,Mary Saveley,2 rue du Commerce,Lyon,69004,France
84,85,Vins et alcools Chevalier,Paul Henriot,59 rue de l'Abbaye,Reims,51100,France
85,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany

In [27]:
query = """
SELECT *
    FROM Customers
    WHERE 
        Country IN ('France', 'Germany')
"""

pd.read_sql(query, db)

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
2,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France
3,9,Bon app',Laurence Lebihans,12 rue des Bouchers,Marseille,13008,France
4,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany
5,18,Du monde entier,Janine Labrune,67 rue des Cinquante Otages,Nantes,44000,France
6,23,Folies gourmandes,Martine Rancé,184 chaussée de Tournai,Lille,59000,France
7,25,Frankenversand,Peter Franken,Berliner Platz 43,München,80805,Germany
8,26,France restauration,Carine Schmitt,54 rue Royale,Nantes,44000,France
9,39,Königlich Essen,Philip Cramer,Maubelstr. 90,Brandenburg,14776,Germany
10,40,La corne d'abondance,Daniel Tonini,67 avenue de l'Europe,Versailles,78000,France
11,41,La maison d'Asie,Annette Roulet,1 rue Alsace-Lorraine,Toulouse,31000,France
12,44,Lehmanns Marktstand,Renate Messner,Magazinweg 7,Frankfurt a.M.,60528,Germany
13,52,Morgenstern Gesundkost,Alexander Feuer,Heerstr. 22,Leipzig,04179,Germany
14,56,Ottilies Käseladen,Henriette Pfalzheim,Mehrheimerstr. 369,Köln,50739,Germany
15,57,Paris spécialités,Marie Bertrand,265 boulevard Charonne,Paris,75012,France
16,63,QUICK-Stop,Horst Kloss,Taucherstraße 10,Cunewalde,01307,Germany
17,74,Spécialités du monde,Dominique Perrier,25 rue Lauriston,Paris,75016,France
18,79,Toms Spezialitäten,Karin Josephs,Luisenstr. 48,Münster,44087,Germany
19,84,Victuailles en stock,Mary Saveley,2 rue du Commerce,Lyon,69004,France
20,85,Vins et alcools Chevalier,Paul Henriot,59 rue de l'Abbaye,Reims,51100,France
21,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany

In [29]:
query = """
SELECT *
    FROM Customers
;
"""
df = pd.read_sql(query, db)

In [33]:
df[(df["Country"] == "Germany") | (df["City"] == "Paris")]

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
5,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
16,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany
24,25,Frankenversand,Peter Franken,Berliner Platz 43,München,80805,Germany
38,39,Königlich Essen,Philip Cramer,Maubelstr. 90,Brandenburg,14776,Germany
43,44,Lehmanns Marktstand,Renate Messner,Magazinweg 7,Frankfurt a.M.,60528,Germany
51,52,Morgenstern Gesundkost,Alexander Feuer,Heerstr. 22,Leipzig,04179,Germany
55,56,Ottilies Käseladen,Henriette Pfalzheim,Mehrheimerstr. 369,Köln,50739,Germany
56,57,Paris spécialités,Marie Bertrand,265 boulevard Charonne,Paris,75012,France
62,63,QUICK-Stop,Horst Kloss,Taucherstraße 10,Cunewalde,01307,Germany
73,74,Spécialités du monde,Dominique Perrier,25 rue Lauriston,Paris,75016,France
78,79,Toms Spezialitäten,Karin Josephs,Luisenstr. 48,Münster,44087,Germany
85,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany

In [34]:
query = """
SELECT *
FROM Customers
    WHERE
        Country is "Germany"
    OR
        City is "Paris"
"""

pd.read_sql(query, db)

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
2,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany
3,25,Frankenversand,Peter Franken,Berliner Platz 43,München,80805,Germany
4,39,Königlich Essen,Philip Cramer,Maubelstr. 90,Brandenburg,14776,Germany
5,44,Lehmanns Marktstand,Renate Messner,Magazinweg 7,Frankfurt a.M.,60528,Germany
6,52,Morgenstern Gesundkost,Alexander Feuer,Heerstr. 22,Leipzig,04179,Germany
7,56,Ottilies Käseladen,Henriette Pfalzheim,Mehrheimerstr. 369,Köln,50739,Germany
8,57,Paris spécialités,Marie Bertrand,265 boulevard Charonne,Paris,75012,France
9,63,QUICK-Stop,Horst Kloss,Taucherstraße 10,Cunewalde,01307,Germany
10,74,Spécialités du monde,Dominique Perrier,25 rue Lauriston,Paris,75016,France
11,79,Toms Spezialitäten,Karin Josephs,Luisenstr. 48,Münster,44087,Germany
12,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany